


.Bundle{
    margin: 50px 0px;
    font-family: 'Archivo', sans-serif;
}

.bundle-info-container{
    /* border: solid red 2px; */
    padding: 20px;
    display: flex;

}

.bundle-info-img{
    width: 375px;
    max-height: 375px;
    background-size: contain; 
    object-fit: contain;
    background: white;
    box-shadow: 0px 5px 4px rgb(238, 238, 238);
    transition: transform .4s;
    /* object-position: -20px; */

}
.bundle-info-img:hover{
    transform: scale(1.02);
}

.bundle-info-about{
    
    /* border: solid red 2px; */
    padding: 0 60px;
    padding-left: 5vw;
    width: 40vw;
}
.bundle-info-title{
    margin-top: 0;
    margin: 0px;
    margin-bottom: 8px;
    font-size: 2.5rem;
    
}
.bundle-info-author{
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(83, 83, 83);
    margin: 0;
    margin-bottom: 32px;
}
.bundle-info-products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    /* border: solid red 2px; */
    font-size: 1.2rem;
    padding: 10px;
    padding-left: 0;
    /* max-width: 350px; */
}
.bundle-info-products > div{
    text-align: left;
    padding: 2px;
    /* margin-right: 2px; */
    /* border: solid red 2px; */
    /* min-width: ; */
    
    margin-bottom: 10px;
}


.bundle-info-buttons{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 400px;    
    font-style: 'Cabin' sans-serif;
    /* border: solid red 2px; */
}

.bundle-info-buttons > a{
    text-decoration: none;
    
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.3rem;
    min-width: 130px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bundle-info-buttons > a::hover{
    cursor: pointer;
}

.bundle-info-buttons > a > img{
    margin-right: 5px;

}
.bundle-info-buttons > a:active{
   box-shadow: 0px 0px 5px black;
}
.bundle-info-buttons > a:focus{
    outline: 0;
}

.bundle-info-buy{
    background: #A7DA65;
}

.bundle-info-info{
    background: #FFDF61;
}